<!DOCTYPE html>
<html>
  <head>
    <title>Tu Aplicación</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Agregar enlaces a hojas de estilo, scripts, etc. -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Agregar enlace a Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Agregar código JavaScript personalizado -->
    <%= yield :javascript %>
  </head>
  <body>
    <%= yield %>

    <!-- Contenedor para mostrar datos sismológicos -->
    <div id="app">
      <ul>
        <li v-for="feature in features" :key="feature.id">
          <p>{{ feature.title }}</p>
          <p>{{ feature.place }}</p>
          <p>{{ feature.magnitude }}</p>
          <p>{{ feature.time }}</p>
          <p>{{ feature.url }}</p>
        </li>
      </ul>
    </div>

    <!-- Agregar scripts adicionales si es necesario -->
    <%= yield :scripts %>
  </body>
</html>
